.DS_Store
*.pdf
/dartfs/rc/lab/D/DBIC/DBIC/f0042x1/life-encoding/scripts/s03_banded_cara-alpha_loro/log_fullrange
/results/himalaya/
*.pycscripts/revision/annotation_output/
scripts/revision/word_corpus_code/captions/
scripts/revision/videos/*.mp4
